<!-- Footer -->
<footer id="footer">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 i">
                    <h2>MyHealth</h2>

                    <div class="content">
                        Zernikeplein 11<br/>
                        9747 AS Groningen<br/>
                        The Netherlands<br/>
                        (050) 595 55 55<br/>
                        <a href="mailto:info@myhealth.com" title="#">info@myhealth.com</a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 i">
                    <h2>{{ 'FOOTER_FOLLOW_US' | translate }}</h2>

                    <div class="socials">
                        <a href="https://facebook.com" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://plus.google.com" title="#" class="google-plus"><i
                                class="fa fa-google-plus"></i></a>
                        <a href="https://linkedin.com" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3 i">
                    <h2>{{ 'FOOTER_GET_APP' | translate }}</h2>
                    <a href="https://play.google.com">
                        <img src="img/en_generic_rgb_wo_45.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
