<d-header></d-header>

<div class="section-pills">
    <div class="container container-content">
        <d-sidebar></d-sidebar>

        <div class="col-md-9">
            <h1>{{ 'ACCOUNT_SETTINGS_TITLE' | translate }}</h1>

            <hr />

            <p>{{ 'ACCOUNT_SETTINGS_SUBTITLE' | translate }}</p><br />

                <form role="form" name="changePasswordForm" ng-submit="changePassword(password)" novalidate>

                    <h4>{{ 'ACCOUNT_SETTINGS_CHANGE_PASSWORD_TITLE' | translate}}</h4>
                    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine }">
                        <label for="oldPassword">{{ 'ACCOUNT_SETTINGS_OLD_PASSWORD_TITLE' | translate}}</label>
                        <input name="oldPassword" ng-model="password.old_password" type="password" class="form-control" id="oldPassword" placeholder="{{ 'ACCOUNT_SETTINGS_OLD_PASSWORD_PLACEHOLDER' | translate}}" ng-minlength="4" required>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine }">
                        <label for="newPassword">{{ 'ACCOUNT_SETTINGS_NEW_PASSWORD_TITLE' | translate}}</label>
                        <input name="newPassword" ng-model="password.new_password" type="password" class="form-control" id="newPassword" placeholder="{{ 'ACCOUNT_SETTINGS_NEW_PASSWORD_PLACEHOLDER' | translate}}" ng-minlength="4" required>
                    </div>

                    <button type="submit" class="btn btn-yellow btn-effect" ng-disabled="changePasswordForm.$invalid">{{ 'ACCOUNT_SETTINGS_CHANGE_PASSWORD_BUTTON' | translate}}</button>

                </form>

                <br /><br />

                <h4>{{ 'ACCOUNT_SETTINGS_CHANGE_DISPLAY_LANGUAGE_TITLE' | translate }}</h4>

                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="selectedLanguage" value="en" name="optionsRadios" id="optionsRadios1" ng-click="selectLanguage('en')">
                            English (Engels)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="selectedLanguage" value="nl" name="optionsRadios" id="optionsRadios2" ng-click="selectLanguage('nl')">
                            Dutch (Nederlands)
                        </label>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<d-footer></d-footer>