<d-header></d-header>

<!-- Features -->
<section class="section features">
    <div class="container">
        <header class="text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                    <h2><strong>MyHealth</strong> takes care for all your medical worries</h2>
                    <p>
                      With MyHealth you get insights into your medical information, like personal records and bills. You can easily
                    </p>
                </div>
            </div>
        </header>
        <div class="row text-center">
            <div class="col-sm-4 i">
              <span class="sprite icon icon-animations"></span>
              <h3>
                Get insight
              </h3>
              <p>Keep a record of your medical bills, easy.</p>
            </div>

            <div class="col-sm-4 i">
                <span class="sprite icon icon-technologies"></span>
                <h3>
                    Self diagnostics
                </h3>
                <p>Take a picture to get to know more about your medical state.</p>
            </div>

            <div class="col-sm-4 i">
              <span class="sprite icon icon-responsive"></span>
              <h3>
                Android app
              </h3>
              <p>An Android app is available on the Play store.</p>
            </div>
        </div>
    </div>
</section>

<!-- Business theme -->
<div class="section businessTheme">
    <div class="container text-center">
        <h2>Do you want your own mobile doctor?</h2>
        <a href="https://play.google.com" title="#" class="btn btn-lg btn-yellow btn-effect">Download the <span>Android app</span> now!</a>
    </div>
</div>

<d-footer></d-footer>
