<d-header></d-header>

<!-- Features -->
<section class="section features">
    <div class="container">
        <header class="text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                    <h2><strong>MyHealth</strong>{{ 'HOME_TITLE' | translate }}</h2>
                    <p>
                        {{ 'HOME_SUBTITLE' | translate }}
                    </p>
                </div>
            </div>
        </header>
        <div class="row text-center">
            <div class="col-sm-4 i">
              <span class="sprite icon icon-animations"></span>
              <h3>
                  {{ 'HOME_ICON_1_TEXT' | translate }}
              </h3>
              <p>{{ 'HOME_ICON_1_SUBTEXT' | translate }}</p>
            </div>

            <div class="col-sm-4 i">
                <span class="sprite icon icon-technologies"></span>
                <h3>
                    {{ 'HOME_ICON_2_TEXT' | translate }}
                </h3>
                <p>{{ 'HOME_ICON_2_SUBTEXT' | translate }}</p>
            </div>

            <div class="col-sm-4 i">
              <span class="sprite icon icon-responsive"></span>
              <h3>
                {{ 'HOME_ICON_3_TEXT' | translate }}
              </h3>
              <p>{{ 'HOME_ICON_3_SUBTEXT' | translate }}</p>
            </div>
        </div>
    </div>
</section>

<div class="section businessTheme">
    <div class="container text-center">
        <h2>{{ 'HOME_SLIDER_TEXT' | translate }}</h2>
        <a href="https://play.google.com" title="#" class="btn btn-lg btn-yellow btn-effect">{{ 'HOME_SLIDER_BUTTON' | translate }}</a>
    </div>
</div>

<d-footer></d-footer>
