<div class="loginPage">
  <div class="container">
    <a ui-sref="home" title="#" class="back btn-effect">
      <span class="sprite icon"></span> Back
    </a>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form class="loginRegistrationForm">
          <h1 class="text-center">Login</h1>
          <div class="input">
            <input type="email" ng-model="user.email" placeholder="Email address" class="form-control input-field">
          </div>
          <div class="input">
            <input type="password" ng-class="user.password" placeholder="Password" class="form-control input-field">
          </div>
          <br />
          <button type="submit" class="btn btn-lg btn-yellow btn-effect">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
